<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTitle>

        <a *ngIf="!viewControl.editMode" routerLink="/trend-categories"
            class="btn btn-secondary m-btn m-btn--icon text-uppercase">
            <span>
                <i class="fa fa-arrow-left"></i>
                <span translate="COMMON.BACK"></span>
            </span>
        </a>

    </ng-container>

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button *ngIf="viewModel.trend.Status === 8 && !viewControl.editMode" type="button"
                class="btn btn-success m-btn m-btn--icon text-uppercase" (click)="activate()">
                <span>
                    <i class="fa fa-lightbulb"></i>
                    <span>{{ 'COMMON.ACTIVATE' | translate }}</span>
                </span>
            </button>

            <button *ngIf="(viewModel.trend.Status === 2 || viewModel.trend.Status === 0) && !viewControl.editMode"
                type="button" class="btn btn-danger m-btn m-btn--icon text-uppercase" (click)="deactivate()">
                <span>
                    <i class="fa fa-ban"></i>
                    <span>{{ 'COMMON.DEACTIVATE' | translate }}</span>
                </span>
            </button>

            <button type="button" *ngIf="viewControl.editMode"
                class="btn btn-secondary m-btn m-btn--icon text-uppercase" (click)="cancel()">
                <span>
                    <i class="fa fa-times"></i>
                    <span translate="COMMON.CANCEL"></span>
                </span>
            </button>

            <button type="button" *ngIf="viewControl.editMode" class="btn btn-success m-btn m-btn--icon text-uppercase"
                (click)="save()">
                <span>
                    <i class="fa fa-save"></i>
                    <span translate="COMMON.SAVE"></span>
                </span>
            </button>

            <button type="button" *ngIf="!viewControl.editMode" class="btn btn-primary m-btn m-btn--icon text-uppercase"
                (click)="edit()">
                <span>
                    <i class="fa fa-edit"></i>
                    <span translate="COMMON.EDIT"></span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <form *ngIf="!viewControl.editMode" class="m-form" [formGroup]="form">

            <div class="row">

                <div class="col-xl-12 col-lg-12">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">

                                <span translate="FORM.FIELDS.NAME"></span>

                            </label>

                            <label class="col-xl-4 col-lg-4 col-form-label">

                                <span class="m--font-brand">{{ viewModel.trend.Name }}</span>

                            </label>

                            <label class="col-xl-1 col-lg-1 col-form-label">

                                <span translate="FORM.FIELDS.ORDER"></span>

                            </label>

                            <label class="col-xl-1 col-lg-1 col-form-label">

                                <span class="m--font-brand">{{ viewModel.trend.Order }}</span>

                            </label>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">

                                <span translate="FORM.FIELDS.STATUS"></span>

                            </label>

                            <label class="col-xl-4 col-lg-4">

                                <m-object-status-badge [status]="viewModel.trend.Status">
                                </m-object-status-badge>

                            </label>

                            <label class="col-xl-1 col-lg-1 col-form-label">

                                <span translate="FORM.FIELDS.CREATED_AT"></span>

                            </label>

                            <label class="col-xl-4 col-lg-4 col-form-label">

                                <span class="m--font-brand">
                                    {{ viewModel.trend.CreatedAt | date : 'dd MMM, yyyy HH:mm:ss' }}
                                </span>

                            </label>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">

                                <span translate="FORM.FIELDS.DATE_RANGE"></span>

                            </label>

                            <label class="col-xl-4 col-lg-4 col-form-label">

                                <span class="m--font-brand">

                                    {{ viewModel.trend.StartDate | date : 'dd MMM, yyyy' }} -
                                    {{ viewModel.trend.EndDate | date : 'dd MMM, yyyy' }}

                                </span>

                            </label>

                            <label class="col-xl-6 col-lg-6 col-form-label">

                                <span class="m--font-brand">{{ viewModel.trend.Repeat }}</span>

                            </label>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">
                                <span translate="FORM.FIELDS.TIME_RANGE"></span>
                            </label>

                            <div class="col-xl-4 col-lg-4 col-form-label">
                                <m-time-ranges formControlName="TimeRanges">
                                </m-time-ranges>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

        <form *ngIf="viewControl.editMode" class="m-form" id="m_form" [formGroup]="form">

            <div class="row">

                <div class="col-xl-12 col-lg-12">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <div class="col-xl-4 col-lg-4">

                                <mat-form-field class="mat-form-field-fluid" hintLabel="Tối đa 15 từ">
                                    <mat-label>
                                        <span translate="FORM.FIELDS.NAME"></span>
                                        <span class="m--font-danger">&nbsp;(*)</span>
                                    </mat-label>
                                    <input matInput formControlName="Name">

                                    <mat-error *ngIf="form.get('Name').invalid && form.get('Name').touched">
                                        <m-error-parser [ngControl]="form.get('Name')">
                                        </m-error-parser>
                                    </mat-error>

                                </mat-form-field>

                            </div>


                            <div class="col-xl-2 col-lg-2">

                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>
                                        <span translate="FORM.FIELDS.ORDER"></span>
                                    </mat-label>
                                    <input matInput formControlName="Order" type="number" step="1" min="0" max="100">

                                </mat-form-field>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <div class="col-xl-4 col-lg-4">

                                <m-date-range-picker-prototype formControlName="DateRanges">
                                </m-date-range-picker-prototype>
                            </div>

                            <div class="col-xl-4 col-lg-4">

                                <m-schedule-repeat formControlName="Repeat">
                                </m-schedule-repeat>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <div class="col-xl-8 col-lg-8">
                                <div class="mat-label-alike">
                                    <span translate="FORM.FIELDS.TIME_RANGE"></span>
                                    <span class="m--font-danger">&nbsp;(*)</span>
                                </div>
                                <m-time-ranges [readonly]="false" formControlName="TimeRanges">
                                </m-time-ranges>

                                <mat-error class="mat-error-alike"
                                    *ngIf="form.get('TimeRanges').invalid && form.get('TimeRanges').touched">
                                    <m-error-parser [ngControl]="form.get('TimeRanges')">
                                    </m-error-parser>
                                </mat-error>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </ng-container>

</m-portlet>