<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button type="button" class="btn btn-success m-btn m-btn--icon text-uppercase" (click)="save()">
                <span>
                    <i class="fa fa-save"></i>
                    <span>{{ 'COMMON.SAVE' | translate }}</span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <div class="row">

            <form class="m-form col-lg-8 col-xl-8" [formGroup]="form">

                <div class="m-form__section m-form__section--first">

                    <div class="form-group m-form__group row">

                        <div class="col-xl-6 col-lg-6">

                            <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                <ng-container mPortletHeadTitle>

                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <span>
                                                {{ 'BRANDS.BASIC_INFO' | translate }}
                                            </span>
                                        </h3>
                                    </div>

                                </ng-container>

                                <ng-container mPortletBody>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-6 col-lg-6">

                                            <mat-form-field class="mat-form-field-fluid">

                                                <mat-label>
                                                    <span translate="FORM.FIELDS.NAME">BRAND NAME</span>
                                                    <span class="m--font-danger">&nbsp;(*)</span>

                                                </mat-label>

                                                <input matInput formControlName="BrandName">

                                                <mat-error
                                                    *ngIf="form.get('BrandName').invalid && form.get('BrandName').touched">
                                                    <m-error-parser [ngControl]="form.get('BrandName')">
                                                    </m-error-parser>
                                                </mat-error>

                                            </mat-form-field>

                                        </div>

                                        <div class="col-xl-6 col-lg-6">

                                            <div class="mat-label-alike">
                                                <span translate="FORM.FIELDS.STATUS"></span>
                                            </div>

                                            <div>

                                                <m-object-status-badge [status]="viewModel.brand.Status">
                                                </m-object-status-badge>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-12 col-lg-12">

                                            <mat-form-field class="mat-form-field-fluid">

                                                <mat-label>
                                                    <span translate="FORM.FIELDS.SLOGAN"></span>
                                                </mat-label>

                                                <input matInput formControlName="BrandDescription">

                                            </mat-form-field>

                                        </div>

                                    </div>

                                </ng-container>

                            </m-portlet>

                        </div>

                        <div class="col-xl-6 col-lg-6">

                            <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                <ng-container mPortletHeadTitle>

                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <span>
                                                {{ 'BRANDS.MEDIA' | translate }}
                                            </span>
                                        </h3>
                                    </div>

                                </ng-container>

                                <ng-container mPortletBody>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-12 col-lg-12">

                                            <div class="mat-label-alike">
                                                <span translate="FORM.FIELDS.UTILITIES"></span>
                                            </div>

                                            <m-utilities-carousel [readonly]="false" formControlName="Utilities">
                                            </m-utilities-carousel>

                                        </div>

                                    </div>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-6 col-lg-6">

                                            <rbp-files-control formControlName="BrandLogo" [limitted]="1"
                                                [quickUpload]="1">

                                                <ng-container ImagesSelectLabel>
                                                    <span translate="FORM.FIELDS.LOGO"></span>
                                                </ng-container>

                                            </rbp-files-control>

                                        </div>
                                    </div>

                                </ng-container>

                            </m-portlet>

                        </div>

                    </div>

                    <div class="form-group m-form__group row">

                        <div class="col-xl-12 col-lg-12">

                            <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                <ng-container mPortletHeadTitle>

                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <span>
                                                {{ 'BRANDS.CLASSIFY_INFO' | translate }}
                                            </span>
                                        </h3>
                                    </div>

                                </ng-container>

                                <ng-container mPortletBody>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-12 col-lg-12">

                                            <m-tags formControlName="BrandTags">

                                                <ng-container mTagsLabel>
                                                    <span translate="FORM.FIELDS.TAGS"></span>
                                                </ng-container>

                                            </m-tags>

                                        </div>

                                    </div>

                                </ng-container>

                            </m-portlet>

                        </div>

                    </div>

                    <div class="form-group m-form__group row">

                        <div class="col-xl-12 col-lg-12">

                            <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                <ng-container mPortletHeadTitle>

                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <span>
                                                {{ 'BRANDS.CONTACT_INFO' | translate }}
                                            </span>
                                        </h3>
                                    </div>

                                </ng-container>

                                <ng-container mPortletBody>

                                    <div class="form-group m-form__group row">

                                        <div class="col-xl-12 col-lg-12">

                                            <m-phones [readonly]="false" formControlName="BrandPhones"></m-phones>

                                        </div>

                                    </div>

                                </ng-container>

                            </m-portlet>

                        </div>

                    </div>

                    <div class="form-group m-form__group row">

                        <div class="col-xl-12 col-lg-12">

                            <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                <ng-container mPortletHeadTitle>

                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <span>
                                                {{ 'BRANDS.OPEN_CLOSE_TIME' | translate }}
                                            </span>
                                        </h3>
                                    </div>

                                </ng-container>

                                <ng-container mPortletBody>

                                    <div class="col-xl-12 col-lg-12">

                                        <m-time-range-grid formControlName="BrandOpeningHours">
                                        </m-time-range-grid>

                                    </div>

                                </ng-container>

                            </m-portlet>

                        </div>

                    </div>

                </div>

            </form>

            <div class="col-lg-4 col-xl-4">
                <m-brand-embryo [formControl]="brandEmbryo"></m-brand-embryo>
            </div>

        </div>

    </ng-container>


</m-portlet>