<!-- <div class="row">
    <div class="col-lg-12">
        {{ viewModel.Title }}&nbsp;
        <a target="_blank">{{ viewModel.Phone }}</a>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <span>{{ 'FORM.FIELDS.TITLE' | translate }}: </span>
        <strong>{{ viewModel.Title }}</strong>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <span>{{ 'FORM.FIELDS.PHONE' | translate }}: </span>
        <strong>
            {{ viewModel.Phone }}
        </strong>
    </div>
</div>