<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTitle>

        <a routerLink="/places" class="btn btn-secondary m-btn m-btn--icon text-uppercase">
            <span>
                <i class="la la-arrow-left"></i>
                <span translate="COMMON.BACK"></span>
            </span>
        </a>

    </ng-container>

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">
            <button type="button" class="btn btn-success m-btn m-btn--icon text-uppercase" (click)="save()">
                <span>
                    <i class="la la-check"></i>
                    <span translate="COMMON.SAVE"></span>
                </span>
            </button>
        </div>

    </ng-container>

    <ng-container mPortletBody>

        <form class="m-form" [formGroup]="form">

            <div class="row">

                <div class="col-xl-6 col-lg-6">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">
                                <span translate="FORM.FIELDS.NAME"></span>
                                <span class="m--font-danger">&nbsp;(*)</span>
                            </label>

                            <div class="col-xl-10 col-lg-10">

                                <mat-form-field class="mat-form-field-fluid">

                                    <input matInput formControlName="Name">

                                    <mat-error *ngIf="form.get('Name').invalid && form.get('Name').touched">
                                        <m-error-parser [ngControl]="form.get('Name')">
                                        </m-error-parser>
                                    </mat-error>

                                </mat-form-field>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">
                                <span translate="FORM.FIELDS.OPEN_HOURS"></span>
                            </label>

                            <div class="col-xl-10 col-lg-10">

                                <m-time-range-grid formControlName="Timing">
                                </m-time-range-grid>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-xl-6 col-lg-6">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <div class="col-xl-12 col-lg-12">

                                <m-address-contact [required]="true" [readonly]="false"
                                    formControlName="AddressContact">
                                </m-address-contact>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <label class="col-xl-2 col-lg-2 col-form-label">
                                <span translate="UNITS.LOCATION"></span>
                                <span class="m--font-danger">&nbsp;(*)</span>
                            </label>

                            <div class="col-xl-10 col-lg-10">

                                <m-location-form [readonly]="false"
                                    [address]="form.get('AddressContact').value.Address[this.lang] || ''"
                                    formControlName="Location">
                                </m-location-form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </ng-container>

</m-portlet>