.m-badge.m-badge-order--cancelled {
  background-color: #dd4b39;
  color: #fff;
}
.m-badge.m-badge-order--pending {
  background-color: #f39c12;
  color: #fff;
}
.m-badge.m-badge-order--processing {
  background-color: #00c0ef;
  color: #fff;
}
.m-badge.m-badge-order--complete {
  background-color: #00a65a;
  color: #fff;
}
