<ng-container *ngIf="userInfo | async as user; else loading">

	<a href="#" class="m-nav__link m-dropdown__toggle">
		<span class="m-topbar__userpic">
			<img src="{{ user.Picture }}" class="m--img-rounded m--marginless m--img-centered" style="object-fit: cover"
				onerror="this.src = './assets/app/media/img/default_user.jpg'" />
		</span>
	</a>

	<div class="m-dropdown__wrapper">

		<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>

		<div class="m-dropdown__inner">

			<div class="m-dropdown__header m--align-center" #mProfileDropdown style="background-size: cover;"
				[style.background-image]="avatarBg">
				<div class="m-card-user m-card-user--skin-dark">
					<div class="m-card-user__pic">
						<img src="{{ user.Picture }}" class="m--img-rounded m--marginless" style="object-fit: cover"
							onerror="this.src = './assets/app/media/img/default_user.jpg'" />
					</div>
					<div class="m-card-user__details">
						<span class="m-card-user__name m--font-weight-500">
							{{ user.DisplayName }}
						</span>
						<a href="mailto:{{ userInfo.Email }}" class="m-card-user__email m--font-weight-300 m-link">
							{{ user.Email }}
						</a>
					</div>
				</div>
			</div>

			<div class="m-dropdown__body">
				<div class="m-dropdown__content">
					<ul class="m-nav m-nav--skin-light">

						<li class="m-nav__section m--hide">

							<span class="m-nav__section-text">
								Section
							</span>

						</li>

						<li class="m-nav__item">

							<a routerLink="/account/user-profile" class="m-nav__link">

								<i class="m-nav__link-icon fa fa-user"></i>

								<span class="m-nav__link-title">

									<span class="m-nav__link-wrap">

										<span class="m-nav__link-text" translate="PROFILE.USER_PROFILE">
										</span>

									</span>

								</span>

							</a>

						</li>


						<li class="m-nav__item">

							<a routerLink="/account/change-password" class="m-nav__link">

								<i class="m-nav__link-icon fa fa-key"></i>

								<span class="m-nav__link-title">

									<span class="m-nav__link-wrap">

										<span class="m-nav__link-text" translate="PROFILE.CHANGE_PASSWORD">
										</span>

									</span>

								</span>

							</a>

						</li>

						<li class="m-nav__item">

							<a (click)="logout()" class="m-nav__link">

								<i class="m-nav__link-icon fa fa-sign-out-alt"></i>

								<span class="m-nav__link-title">

									<span class="m-nav__link-wrap">

										<span class="m-nav__link-text pointer" translate="PROFILE.LOG_OUT">
										</span>

									</span>

								</span>

							</a>

						</li>

					</ul>
				</div>
			</div>

		</div>

	</div>

</ng-container>

<ng-template #loading>
	<facebook-content-loader></facebook-content-loader>
</ng-template>