<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button type="button" class="btn btn-success m-btn m-btn--icon text-uppercase"
                (click)="save()">
                <span>
                    <i class="fa fa-save"></i>
                    <span>{{ 'COMMON.SAVE' | translate }}</span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <form class="m-form" id="m_form" [formGroup]="form">

            <div class="row">

                <div class="col-xl-6">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <!-- <label class="col-xl-3 col-lg-3">
                                <span translate="FORM.FIELDS.OLD_PASSWORD"></span>
                                <span class="m--font-danger">&nbsp;(*)</span>
                            </label> -->

                            <div class="col-xl-9 col-lg-9">

                                <mat-form-field class="mat-form-field-fluid">

                                    <mat-label>
                                        <span translate="FORM.FIELDS.OLD_PASSWORD"></span>
                                    </mat-label>

                                    <input matInput type="password" formControlName="OldPassword">

                                    <mat-error
                                        *ngIf="form.get('OldPassword').invalid && form.get('OldPassword').touched">
                                        <m-error-parser [ngControl]="form.get('OldPassword')">
                                        </m-error-parser>
                                    </mat-error>

                                </mat-form-field>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <!-- <label class="col-xl-3 col-lg-3">
                                <span translate="FORM.FIELDS.NEW_PASSWORD"></span>
                                <span class="m--font-danger">&nbsp;(*)</span>
                            </label> -->

                            <div class="col-xl-9 col-lg-9">

                                <mat-form-field class="mat-form-field-fluid">

                                    <mat-label>
                                        <span translate="FORM.FIELDS.NEW_PASSWORD"></span>
                                    </mat-label>

                                    <input matInput type="password" formControlName="NewPassword">

                                    <mat-error
                                        *ngIf="form.get('NewPassword').invalid && form.get('NewPassword').touched">
                                        <m-error-parser [ngControl]="form.get('NewPassword')">
                                        </m-error-parser>
                                    </mat-error>

                                </mat-form-field>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <!-- <label class="col-xl-3 col-lg-3">
                                <span translate="FORM.FIELDS.CONFIRM_NEW_PASSWORD"></span>
                                <span class="m--font-danger">&nbsp;(*)</span>
                            </label> -->

                            <div class="col-xl-9 col-lg-9">

                                <mat-form-field class="mat-form-field-fluid">

                                    <mat-label>
                                        <span translate="FORM.FIELDS.CONFIRM_NEW_PASSWORD"></span>
                                    </mat-label>

                                    <input matInput type="password" formControlName="ConfirmNewPassword">

                                    <mat-error
                                        *ngIf="form.get('ConfirmNewPassword').invalid && form.get('ConfirmNewPassword').touched">
                                        <m-error-parser [ngControl]="form.get('ConfirmNewPassword')">
                                        </m-error-parser>
                                    </mat-error>

                                </mat-form-field>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </ng-container>

</m-portlet>