.box {
  border: 5px outset transparent;
  background-clip: padding-box;
}

.item {
  cursor: pointer;
}

.board {
  border: 1px solid #e1e4e6;
  box-shadow: 0 0 1px 0 rgba(84, 86, 87, 0.15), 1px 1px 3px 0 rgba(57, 59, 59, 0.13);
  border-radius: 2px;
}

.control-title-max-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  min-height: 32px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.board-item > span:last-child {
  font-size: 2rem !important;
  font-weight: 500 !important;
}
