<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button type="button" class="btn btn-primary m-btn m-btn--icon text-uppercase" (click)="refresh()">
                <span>
                    <i class="fa fa-sync-alt"></i>
                    <span translate="COMMON.REFRESH"></span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <div class="m-form">

            <div class="m-form__filtration">

                <div class="row align-items-center">

                    <div class="col-md-2 m--margin-bottom-10-mobile">

                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput #searchInput>
                            <mat-hint align="start">
                                <strong class="text-capitalize">{{ 'COMMON.FILTER' | translate }}</strong>
                                <span class="text-lowercase"> {{ 'COMMON.BY_NAME' | translate }}</span>
                            </mat-hint>
                        </mat-form-field>

                    </div>

                </div>

            </div>

        </div>

        <div class="mat-table__wrapper">

            <mat-table class="mat-elevation-z8" [dataSource]="viewData.dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--index'">#</mat-header-cell>

                    <mat-cell *matCellDef="let brand; let i = index;" [ngClass]="'mat-cell--index'">
                        {{ i + 1 + paginator.pageIndex * paginator.pageSize }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLE.COLUMNS.NAME' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let brand">
                        {{ brand.Name }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Mapping">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.MAPPINGS' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let brand">
                        <span [ngClass]="viewData.brandsStatistics[brand.Id].MapNewInsertCount +
                        viewData.brandsStatistics[brand.Id].MapNewUpdateCount == 0 ? '' : 'bold-text__new'"
                            *ngIf="viewData.brandsStatistics[brand.Id]; else zeroSpan">
                            {{ viewData.brandsStatistics[brand.Id].MapNewInsertCount +
                                 viewData.brandsStatistics[brand.Id].MapNewUpdateCount }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Update">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.UPDATES' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let brand">
                        <span
                            [ngClass]="viewData.brandsStatistics[brand.Id].UpdateCount == 0 ? '' : 'bold-text__update'"
                            *ngIf="viewData.brandsStatistics[brand.Id]; else zeroSpan">
                            {{ viewData.brandsStatistics[brand.Id].UpdateCount }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Delete">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.DELETES' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let brand">
                        <span
                            [ngClass]="viewData.brandsStatistics[brand.Id].DeleteCount == 0 ? '' : 'bold-text__delete'"
                            *ngIf="viewData.brandsStatistics[brand.Id]; else zeroSpan">
                            {{ viewData.brandsStatistics[brand.Id].DeleteCount }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--action'">
                        {{ 'TABLE.COLUMNS.ACTIONS' | translate }}</mat-header-cell>

                    <mat-cell *matCellDef="let brand" [ngClass]="'mat-cell--action'">

                        <button mat-icon-button color="primary" matTooltip="{{ 'RAW_UNITS.VIEW' | translate }}"
                            (click)="view(brand.Id)">
                            <i class="fa fa-info-circle"></i>
                        </button>

                    </mat-cell>

                </ng-container>

                <ng-template #zeroSpan>
                    <span>0</span>
                </ng-template>

                <mat-header-row *matHeaderRowDef="viewData.displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: viewData.displayedColumns; let i = index;"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!viewData.dataSource.hasItems">
                {{ 'TABLE.NO_RECORDS' | translate }}
            </div>

        </div>

        <div class="mat-table__bottom">

            <mat-spinner [diameter]="20" *ngIf="viewControl.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
                [length]="viewData.dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>

        </div>

    </ng-container>

</m-portlet>