<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text text-uppercase">
                <span translate="ACTION_API.G_COMMERCE_SERVICE.NAME"></span>
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>

        <form class="m-form" id="m_form" [formGroup]="form">

            <div class="m-form__section m-form__section--first">

                <div class="form-group m-form__group row">

                    <div class="col-xl-6 col-lg-6">

                        <mat-form-field class="mat-form-field-fluid">

                            <mat-label>
                                <span translate="ACTION_API.G_COMMERCE_SERVICE.TITLE"></span>
                            </mat-label>

                            <input matInput formControlName="Title">

                            <mat-error *ngIf="form.get('Title').invalid && form.get('Title').touched">
                                <m-error-parser [ngControl]="form.get('Title')">
                                </m-error-parser>
                            </mat-error>

                        </mat-form-field>

                    </div>

                    <div class="col-xl-6 col-lg-6">

                        <mat-form-field class="mat-form-field-fluid">

                            <mat-label>
                                <span translate="ACTION_API.G_COMMERCE_SERVICE.RECEIVE_BY"></span>
                            </mat-label>

                            <mat-select formControlName="ReceiveBy" multiple>

                                <mat-option [value]="'delivery'">
                                    {{ 'ACTION_API.G_COMMERCE_SERVICE.RECEIVE_MODE.DELIVERY' | translate }}
                                </mat-option>

                                <mat-option [value]="'pickup'">
                                    {{ 'ACTION_API.G_COMMERCE_SERVICE.RECEIVE_MODE.PICK_UP' | translate }}
                                </mat-option>

                            </mat-select>

                            <mat-error *ngIf="ctrlReceiveBy.invalid && ctrlReceiveBy.touched">
                                <m-error-parser [ngControl]="ctrlReceiveBy">
                                </m-error-parser>
                            </mat-error>

                        </mat-form-field>

                    </div>

                </div>

                <div class="form-group m-form__group row">

                    <div class="col-xl-6 col-lg-6">

                        <m-multi-select [data]="viewData.filterProducts$" formControlName="Products"
                            [touched]="form.get('Products').touched">

                            <ng-container mMultipleSelectLabel>
                                <span translate="ACTION_API.G_COMMERCE_SERVICE.PRODUCTS"></span>
                                &nbsp;(<span translate="FORM.FIELDS.OPTIONAL"></span>)
                            </ng-container>

                        </m-multi-select>

                    </div>

                    <div class="col-xl-6 col-lg-6">

                        <mat-checkbox color="primary" formControlName="AddFeatureToCart">
                            <span translate="ACTION_API.G_COMMERCE_SERVICE.ADD_FEATURE_TO_CART"></span>
                        </mat-checkbox>

                    </div>

                </div>

            </div>

        </form>

    </ng-container>

    <ng-container mPortletFooter>

        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">

            <div class="m-form__actions m-form__actions--solid">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="button-group text-right">

                            <button class="btn btn-success m-btn m-btn--icon text-uppercase" type="button"
                                (click)="onSubmit()">
                                <span>
                                    <i class="fa fa-check-circle"></i>
                                    <span translate="COMMON.CONFIRM">CONFIRM</span>
                                </span>
                            </button>

                            <button class="btn btn-default m-btn m-btn--icon text-uppercase" type="button"
                                cdkFocusInitial (click)="onCancelClick()">
                                <span>
                                    <i class="fa fa-times"></i>
                                    <span translate="COMMON.CLOSE">CLOSE</span>
                                </span>
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </ng-container>

</m-portlet>