<div class="mat-table__wrapper mat-table__wrapper--sub">

    <ng-container *ngIf="readonly">

        <mat-table class="mat-elevation-z8" [dataSource]="viewData.dataSource" matSort matSortActive="id"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="Index">
                <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--index'">#
                </mat-header-cell>

                <mat-cell *matCellDef="let note; let i = index;" [ngClass]="'mat-cell--index'">
                    {{ i + 1 + paginator.pageIndex * paginator.pageSize }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CreatedAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLE.COLUMNS.CREATED_AT' | translate }}
                </mat-header-cell>

                <mat-cell *matCellDef="let note">
                    {{ note.CreatedAt | date : 'dd MMM, yyyy' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Note">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'TABLE.COLUMNS.NOTE' | translate }}
                </mat-header-cell>

                <mat-cell *matCellDef="let note"> {{ note.Note }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DisplayToCustomer">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'TABLE.COLUMNS.DISPLAY_TO_CUSTOMER' | translate }}
                </mat-header-cell>

                <mat-cell *matCellDef="let note">

                    <mat-icon aria-hidden="false" *ngIf="note.DisplayToCustomer" style="color: green">check_circle</mat-icon>
                    <mat-icon aria-hidden="false" *ngIf="!note.DisplayToCustomer" style="color: red">cancel</mat-icon>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="viewData.displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: viewData.displayedColumns; let i = index;"></mat-row>
        </mat-table>

    </ng-container>

    <ng-container *ngIf="!readonly">

        <mat-table class="mat-elevation-z8" [dataSource]="viewData.dataSource" matSort matSortActive="id"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="Index">
                <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--index'">#
                </mat-header-cell>

                <mat-cell *matCellDef="let note; let i = index;" [ngClass]="'mat-cell--index'">
                    {{ i + 1 + paginator.pageIndex * paginator.pageSize }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CreatedAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLE.COLUMNS.CREATED_AT' | translate }}
                </mat-header-cell>

                <mat-cell *matCellDef="let note">
                    {{ note.CreatedAt | date : 'dd MMM, yyyy' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Note">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'TABLE.COLUMNS.NOTE' | translate }}
                </mat-header-cell>

                <mat-cell *matCellDef="let note"> {{ note.Note }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DisplayToCustomer">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'TABLE.COLUMNS.DISPLAY_TO_CUSTOMER' | translate }}
                </mat-header-cell>


                <mat-cell *matCellDef="let note">

                    <mat-icon aria-hidden="false" *ngIf="note.DisplayToCustomer" style="color: green">check_circle</mat-icon>
                    <mat-icon aria-hidden="false" *ngIf="!note.DisplayToCustomer" style="color: red">cancel</mat-icon>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--actions'">
                    {{ 'TABLE.COLUMNS.ACTIONS' | translate }}</mat-header-cell>

                <mat-cell *matCellDef="let note" [ngClass]="'mat-cell--actions'">
                    <!-- <button mat-icon-button color="warn" matTooltip="This button doesn't do jack shit for now">
                        <mat-icon>delete</mat-icon>
                    </button> -->
                </mat-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="viewData.displayedColumnsEditmode"></mat-header-row>

            <mat-row *matRowDef="let row; columns: viewData.displayedColumnsEditmode; let i = index;"></mat-row>
        </mat-table>

    </ng-container>

    <div class="mat-table__message" *ngIf="!viewData.dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}
    </div>

</div>

<div class="mat-table__bottom">

    <mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
        [length]="viewData.dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true">
    </mat-paginator>

</div>