<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button type="button" class="btn btn-success m-btn m-btn--icon text-uppercase" (click)="save()">
                <span>
                    <i class="fa fa-save"></i>
                    <span>{{ 'COMMON.SAVE' | translate }}</span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <form class="m-form" id="m_form" [formGroup]="formDefaultSP">

            <div class="row">

                <div class="col-xl-8 col-lg-8">

                    <div class="m-form__section m-form__section--first">

                        <div class="form-group m-form__group row">

                            <div class="col-xl-12 col-lg-12">

                                <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                    <ng-container mPortletHeadTitle>

                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                <span>
                                                    {{ 'SELLING_POINTS.BASIC_INFO' | translate }}
                                                </span>
                                            </h3>
                                        </div>

                                    </ng-container>

                                    <ng-container mPortletBody>

                                        <div class="form-group m-form__group row">

                                            <div class="col-xl-6 col-lg-6">

                                                <mat-form-field class="mat-form-field-fluid" hintLabel="Tối đa 15 từ">

                                                    <mat-label>
                                                        <span translate="FORM.FIELDS.TITLE"></span>
                                                        <span class="m--font-danger">&nbsp;(*)</span>

                                                    </mat-label>

                                                    <input matInput formControlName="SellingPointTitle"
                                                        #SellingPointTitle>

                                                    <mat-hint align="end">
                                                        {{ SellingPointTitle.value | wordsCounter }}/{{ sellingPointMaxWords.MaxTitle }}
                                                    </mat-hint>

                                                    <mat-error
                                                        *ngIf="formDefaultSP.get('SellingPointTitle').invalid && formDefaultSP.get('SellingPointTitle').touched">
                                                        <m-error-parser
                                                            [ngControl]="formDefaultSP.get('SellingPointTitle')">
                                                        </m-error-parser>
                                                    </mat-error>

                                                </mat-form-field>

                                            </div>

                                            <div class="col-xl-6 col-lg-6">

                                                <mat-form-field class="mat-form-field-fluid" hintLabel="Tối đa 15 từ">

                                                    <mat-label>
                                                        <span translate="FORM.FIELDS.TITLE_EN"></span>
                                                        &nbsp;(<span translate="FORM.FIELDS.OPTIONAL"></span>)
                                                    </mat-label>

                                                    <input matInput formControlName="SellingPointTitleEn"
                                                        #SellingPointTitleEn>

                                                    <mat-hint align="end">
                                                        {{ SellingPointTitleEn.value | wordsCounter }}/{{ sellingPointMaxWords.MaxTitle }}
                                                    </mat-hint>

                                                </mat-form-field>

                                            </div>

                                        </div>

                                        <div class="form-group m-form__group row">

                                            <div class="col-xl-6 col-lg-6">

                                                <mat-form-field class="mat-form-field-fluid" hintLabel="Tối đa 300 từ">

                                                    <mat-label>
                                                        <span translate="FORM.FIELDS.DESCRIPTION"></span>
                                                        <span class="m--font-danger">&nbsp;(*)</span>

                                                    </mat-label>

                                                    <textarea matInput cdkTextareaAutosize
                                                        formControlName="SellingPointDescription" cdkAutosizeMinRows="2"
                                                        #SellingPointDescription></textarea>

                                                    <mat-hint align="end">
                                                        {{ SellingPointDescription.value | wordsCounter }}/{{ sellingPointMaxWords.MaxDescription }}
                                                    </mat-hint>

                                                    <mat-error
                                                        *ngIf="formDefaultSP.get('SellingPointDescription').invalid && formDefaultSP.get('SellingPointDescription').touched">
                                                        <m-error-parser
                                                            [ngControl]="formDefaultSP.get('SellingPointDescription')">
                                                        </m-error-parser>
                                                    </mat-error>

                                                </mat-form-field>

                                            </div>

                                            <div class="col-xl-6 col-lg-6">

                                                <mat-form-field class="mat-form-field-fluid" hintLabel="Tối đa 300 từ">

                                                    <mat-label>
                                                        <span translate="FORM.FIELDS.DESCRIPTION_EN"></span>
                                                        &nbsp;(<span translate="FORM.FIELDS.OPTIONAL"></span>)
                                                    </mat-label>

                                                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
                                                        formControlName="SellingPointDescriptionEn"
                                                        #SellingPointDescriptionEn></textarea>

                                                    <mat-hint align="end">
                                                        {{ SellingPointDescriptionEn.value | wordsCounter }}/{{ sellingPointMaxWords.MaxDescription }}
                                                    </mat-hint>

                                                </mat-form-field>

                                            </div>

                                        </div>

                                    </ng-container>

                                </m-portlet>

                            </div>

                        </div>

                        <div class="form-group m-form__group row">

                            <div class="col-lg-6 col-xl-6">

                                <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                    <ng-container mPortletHeadTitle>

                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                <span>
                                                    {{ 'SELLING_POINTS.ACTION_API_LONG' | translate }}
                                                </span>
                                            </h3>
                                        </div>

                                    </ng-container>

                                    <ng-container mPortletBody>

                                        <m-selling-point-service [serviceType]="'Brand'" [readonly]="false"
                                            formControlName="SellingPointActions">
                                        </m-selling-point-service>

                                        <mat-error class="mat-error-alike"
                                            *ngIf="formDefaultSP.get('SellingPointActions').invalid && formDefaultSP.get('SellingPointActions').touched">
                                            <m-error-parser [ngControl]="formDefaultSP.get('SellingPointActions')">
                                            </m-error-parser>
                                        </mat-error>

                                    </ng-container>

                                </m-portlet>

                            </div>

                            <div class="col-lg-6 col-xl-6">

                                <m-portlet [options]="{theme: 'm-portlet--theme-gray-header'}">

                                    <ng-container mPortletHeadTitle>

                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                <span>
                                                    {{ 'SELLING_POINTS.MEDIA' | translate }}
                                                </span>
                                            </h3>
                                        </div>

                                    </ng-container>

                                    <ng-container mPortletBody>

                                        <div class="form-group m-form__group row">

                                            <div class="col-xl-12 col-lg-12">

                                                <rbp-files-control formControlName="SellingPointPosters"
                                                    [quickUpload]="1" [limitted]="6">

                                                    <ng-container ImagesSelectLabel>
                                                        <span translate="FORM.FIELDS.IMAGE"></span>
                                                        <span class="m--font-danger">&nbsp;(*)</span>

                                                    </ng-container>

                                                    <ng-container ImagesSelectErrors
                                                        *ngIf="formDefaultSP.get('SellingPointPosters').invalid && (formDefaultSP.get('SellingPointPosters').touched || formDefaultSP.get('SellingPointPosters').dirty)">

                                                        <m-error-parser
                                                            [ngControl]="formDefaultSP.get('SellingPointPosters')">
                                                        </m-error-parser>

                                                    </ng-container>

                                                </rbp-files-control>

                                            </div>

                                        </div>

                                    </ng-container>

                                </m-portlet>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-lg-4">
                    <m-brand-embryo [formControl]="brandEmbryo">

                    </m-brand-embryo>

                </div>

            </div>

        </form>

    </ng-container>

</m-portlet>