<m-portlet [loading$]="viewControl.loading$"
    [options]="{class: ['m-portlet--body-progress', 'm-portlet--body-progress-overlay']}">

    <ng-container mPortletHeadTools>

        <div class="m-buttons--wrapper">

            <button type="button" class="btn btn-primary m-btn m-btn--icon text-uppercase" (click)="refresh()">
                <span>
                    <i class="fa fa-sync-alt"></i>
                    <span translate="COMMON.REFRESH"></span>
                </span>
            </button>

            <button type="button" class="btn btn-primary m-btn m-btn--icon text-uppercase" [routerLink]="['create']">
                <span>
                    <i class="fa fa-plus"></i>
                    <span translate="COMMON.ADD"></span>
                </span>
            </button>

        </div>

    </ng-container>

    <ng-container mPortletBody>

        <div class="m-form">

            <div class="m-form__filtration">

                <div class="row align-items-center">

                    <div class="col-md-2 m--margin-bottom-10-mobile">

                        <mat-form-field class="mat-form-field-fluid">

                            <mat-select [(value)]="viewFilter.filterDiscountType" (selectionChange)="loadDiscounts()">

                                <mat-option value="">{{ 'COMMON.ALL' | translate }}</mat-option>

                                <mat-option [value]="2">{{ 'COMMON.ASSIGN_BY_SKUS' | translate }}</mat-option>
                                <mat-option [value]="5">{{ 'COMMON.ASSIGN_BY_CATEGORIES' | translate }}</mat-option>
                                <mat-option [value]="20">{{ 'COMMON.ASSIGN_BY_SUBTOTAL' | translate }}</mat-option>

                            </mat-select>

                            <mat-hint align="start">
                                <strong class="text-capitalize">{{ 'COMMON.FILTER' | translate }}</strong>
                                <span class="text-lowercase"> {{ 'COMMON.BY_TYPE' | translate }}</span>
                            </mat-hint>

                        </mat-form-field>

                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">

                        <mat-form-field class="mat-form-field-fluid">

                            <input matInput #searchInput>

                            <mat-hint align="start">
                                <strong class="text-capitalize">{{ 'COMMON.FILTER' | translate }}</strong>
                                <span class="text-lowercase"> {{ 'COMMON.BY_NAME' | translate }}</span>
                            </mat-hint>

                        </mat-form-field>

                    </div>

                </div>

            </div>

        </div>

        <div class="mat-table__wrapper">

            <mat-table class="mat-elevation-z8" [dataSource]="viewData.dataSource" matSort matSortActive="Id"
                matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="Index">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'mat-cell--index'">#</mat-header-cell>

                    <mat-cell *matCellDef="let discount; let i = index;" [ngClass]="'mat-cell--index'">
                        {{ i + 1 + paginator.pageIndex * paginator.pageSize }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLE.COLUMNS.NAME' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let discount">
                        <a routerLink="/discounts/{{ discount.Id }}">{{ discount.Name }}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="DiscountType">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.DISCOUNT_TYPE' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let discount"
                        [ngSwitch]="discount.DiscountType">
                        <a *ngSwitchCase="2">{{ 'COMMON.ASSIGN_BY_SKUS' | translate }}</a>
                        <a *ngSwitchCase="5">{{ 'COMMON.ASSIGN_BY_CATEGORIES' | translate }}</a>
                        <a *ngSwitchCase="20">{{ 'COMMON.ASSIGN_BY_SUBTOTAL' | translate }}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="FromTo">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.FROM_TO' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let discount">
                        {{ discount.StartDate | date : 'dd MMM, yyyy' }} -
                        {{ discount.EndDate | date : 'dd MMM, yyyy' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="CreatedAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLE.COLUMNS.CREATED_AT' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let discount">

                        {{ discount.CreatedAt | date : 'dd MMM, yyyy HH:mm:ss' }}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.STATUS' | translate }}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let discount">

                        <m-object-status-badge [status]="discount.Status"></m-object-status-badge>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.COLUMNS.ACTIONS' | translate }}</mat-header-cell>

                    <mat-cell *matCellDef="let discount">

                        <button mat-icon-button color="primary" matTooltip="{{ 'DISCOUNTS.BASIC_INFO' | translate }}"
                            [routerLink]="['/discounts', discount.Id]">
                            <i class="fa fa-info-circle"></i>
                        </button>

                    </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="viewData.displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: viewData.displayedColumns; let i = index;"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!viewData.dataSource.hasItems">
                {{ 'TABLE.NO_RECORDS' | translate }}
            </div>

        </div>

        <div class="mat-table__bottom">

            <mat-spinner [diameter]="20" *ngIf="viewData.dataSource.loadingSubject | async"></mat-spinner>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
                [length]="viewData.dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>

        </div>

    </ng-container>

</m-portlet>